*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: auto 3fr;
    grid-auto-flow: column;
}

#buttons{
    padding: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#bookDisplay{
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.newBookCard{
    display: flex;
    background-color: lightgrey;
    flex-wrap: wrap;
    height: 20rem;
    gap: 1rem; 
    padding: 1rem;
    justify-content: center;
}

.newBookCard > div{
    border: solid;
    /* width: 90%; */
    flex-basis: 90%;
    height: 11rem;
    text-align: center;
    background-color: white;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newBookCard >div > h6{
    font-weight: 700;
    font-size: 3rem;
}

p{
    font-size: 1rem;
    color: gray;
}

.newBookCard > button {
    flex-grow: 1;
}